.form1, .form2{
  position: absolute;
  width: 0vw;
  height: 10vw;
  top: 11vw;

  font-size: 1.2vw;
}
.form1{
  left: 10vw;
}
.form2{
  right: 60vw;
}
.q1 {
  width: 85vw;
  height: 35vw;
}
input, select {
  font-size: 1vw;
}