body {
  background: #cccccc;
}
.titulo {
  color: white;
  text-align: center;
  font-size: 1vw;
}
.ret{
  width: 98.25vw;
  height: 4vw;
  background-color: white;
  margin-bottom: 0.64vw;
  display: inline-block;
  padding: 0.0vw 0.25vw;
}
button{
  top: -10vw;
  left: 0.32vw;
  color: rgb(0, 0, 0);
  background-color: white;
  padding: 0.64vw 0.64vw;
  border: none;
  border-radius: 0.32vw;
  margin: 0.6vw 0.25vw;
  cursor: pointer;
  font-size: 1.2vw;
}
button:hover{
  background-color: #cccccc;
}
a{
  text-decoration: none;
  color: black;
}
.container {
  display: flex;
  position: relative;
}
.q1 {
  width: 65vw;
  height: auto;
  background-color: white;
  display: inline-block;
  margin-right: 0.64vw;
}
.q2 {
  width: 32.6vw;
  height: 34.6vw;
  background-color: white;
  display: inline-block;
  
}
.pla {
  position: absolute;
  top: 8.8vw;
  left: -0.26vw;
  padding: 0.64vw;
  color: black;
  border-color: white;
}
table {
  border-collapse: collapse;
  border: none;
}
td, th {
  border: white;
  padding: 1.4vw;
  font-size: 1.4vw;
}
.tabela {
  padding: 1.2vw !important;
  font-size: 1vw !important;
}
.gra-container{
  position: absolute;
  top: 13vw;
  right: 11.7vw;
  width: 13vw;
  height: 13vw;
}
canvas {
  width: 100% !important;
  height: 100% !important;
}
.py-error {
  display: none !important;
}