body {
  background: #cccccc;
}
.titulo {
  color: white;
  text-align: center;
  font-size: 1vw;
}
.ret{
  width: 85vw;
  height: 4vw;
  background-color: white;
  margin: auto;
  margin-bottom: 0.64vw;
  display: flex;
  padding: 0.0vw 0.25vw;
}
.header{
  top: -10vw;
  left: 0.32vw;
  color: rgb(0, 0, 0);
  background-color: white;
  padding: 0.64vw 0.64vw;
  border: none;
  border-radius: 0.32vw;
  margin: 0.6vw 0.25vw;
  cursor: pointer;
  font-size: 1.2vw;
}
#atual {
  background-color: #eaeaea;
}
.header:hover{
  background-color: #ccc;
}
#atual:hover{
  background-color: #ccc;
}
a{
  text-decoration: none;
  color: black;
}
.container {
  display: flex;
  position: relative;
}
.q1 {
  width: 85vw;
  height: auto;
  background-color: white;
  display: flex;
  margin: auto;
  padding: 0.0vw 0.25vw;
}
.pla {
  position: absolute;
  top: 8.8vw;
  left: -0.26vw;
  padding: 0.64vw;
  color: black;
  border-color: white;
}
.py-error {
  display: none !important;
}