table {
    border-collapse: collapse;
    border: none;
    margin: auto;
    text-align: justify;
    width: 83vw;
}
td, th {
    border: white;
    padding: 1.6vw;
    font-size: 1.8vw;
}
.direita {
    text-align: right;
}
.tabela {
    padding: 1.4vw !important;
    font-size: 1.6vw !important;
}